.active {
  display: block !important;
}

// @font-face {
//   font-family: "EmojiMart";
//   src: url("./assets/seguiemj.ttf") format("truetype");
// }

.ql-toolbar.ql-snow {
  max-width: 355px;
  border: 0;
  background: none;
  right: 0 !important;
  left: auto !important;
}
